{% extends "base.html" %}
{% block title %}{{ classroom.name|default:"Add Class" }}{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-dark text-white">
            <h4>{{ classroom.name|default:"Add New Class" }}</h4>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Save</button>
                <a href="{% url 'manage_classes_by_admin' %}" class="btn btn-secondary">Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}